/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body {
  font-family: 'Open Sans', Helvetica, FZLanTingHei\-R\-GBK, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
}

/** Set `margin-bottom` to maintain vertycal rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl { margin-bottom: 15px; }

/** Images */
img {
  max-width: 100%;
}

/** Lists */
ul, ol { margin-left: 30px; }
li > ul, li > ol { margin-bottom: 0; }
ul.list-group { margin-left: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 300; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 17px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', Consolas, monospace;
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
  color: #111;
}
code { padding: 1px 5px; }
pre { padding: 8px 12px; overflow-x: scroll; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

textarea.form-control {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', Consolas, monospace;
  font-size: 16px;
}


/***  取消响应式导航  ***/
.navbar-default {
  background-color: #ffffff;
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
}
.navbar-header {
  float: left;
}
.navbar-left {
  float: left !important;
}
.navbar-right {
  float: right !important;
  margin-right: -15px;
}
.navbar-brand {
  margin-left: -15px;
}


/***  定制form  ***/
.form-control, .form-control:focus {
  background-color: #fdfdfd;
  color: #111;
  border-width: 0 0 2px;
  border-color: #BABABA;
  border-radius: 0px;
  box-shadow: none;
  padding-left: 2px;
}
.mainput, .mainput:focus {
  background-color: #ffffff;
  width: 160px !important;
  height: 21px;
  padding: 0px;
}
.navbar-form {
  margin: 0;
  padding: 13px 0;
  border: 0;
  box-shadow: none;
}

input[type="file"] {
  display: inline-block;
  /*margin-left: -66px;
  width: 66px;
  height: 34px;
  overflow: hidden;
  z-index: 0;
  line-height: 34px;
  opacity: 0;*/
}


.custom-title {
/*   color: #333 !important; */
  font-weight: bold;
}

.tasks, .tasks:focus {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', Consolas, monospace;
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  border-width: 1px 0;
  border-style: solid;
  border-color: #dfdfdf;
  padding: 0.125rem 0.3125rem 0.0625rem;
}
.tasks-margin {
  margin-bottom: 1px;
}
