/* http://facebook.github.io/react/css/react.css */

$san-en: DejaVu Sans;
$san-fonts: $san-en, FZYouHeiS-R-GB, FZLanTingHei-R-GBK, Microsoft YaHei, sans-serif;
$blockquote-fonts: $san-en, FZJunHeiS-M-GB, FZYouHeiS-R-GB, Microsoft YaHei, sans-serif;
$code-fonts: DejaVu Sans Mono, Source Code Pro, Consolas, monospace, FZYouHeiS-R-GB, FZLanTingHei-R-GBK;

$base-size: 16px;
$font-color: rgba(0, 0, 0, 0.87);
$font-color-o: rgba(255, 255, 255, 0.87);

$bg-color: #FFFFFF;
$nav-color: #00BCD4;

$main-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);

$nav-h: 50px;


* {
  box-sizing:border-box;
  border:none;
  margin:0;
  padding:0;
}

/*html *{
	color-profile:sRGB;
	rendering-intent:auto
}*/

body {
  font-family: $san-fonts;
  font-size: $base-size;
  line-height: 1.5;
  color: $font-color;
/*   background-color: $bg-color; */
  padding-top: $nav-h + 20px;
}

p{
  margin:0 0 10px;
}

/** Headings */
h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: $font-color;
  text-rendering: optimizelegibility;
}

h1,h2,h3 {
  line-height:40px;
  font-weight: 400;
}

h1 {
  font-size:39px;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: -1px;
}

h2 {
  font-size:31px;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: -1px;
}

h3 {
  font-size:23px;
}

h4 {
  font-size:17px;
}

h5 {
  font-size:14px;
}

h6 {
  font-size:11px;
}


/** Lists */
ul, ol {
  margin: 0 0 10px 25px;
}

ul, li {
  margin-left:20px
}

li > ul, li > ol {
  margin-bottom: 0;
}


/** Links */
a {
  color: #0097A7;
  text-decoration: none;
}

a:hover, a:focus {
  color: $font-color;
  text-decoration: underline;
}

a:focus {
  outline: none;
}


/** Blockquotes */
blockquote {
  font-family: $blockquote-fonts;
  color: #616161;
  font-size: 17px;
  letter-spacing: -0.5px;
  font-style: italic;

/*   padding: 5px 15px; */
  padding-left: 15px;
  margin: 20px 0;
/*   background-color: #FAFAFA; */
  border-left: 4px solid #E0E0E0;
}
blockquote > :last-child { margin-bottom: 0; }


/** Code formatting */
pre, code {
  font-family: $code-fonts;
  color: $font-color;
/*   font-size: $base-size; */
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
}
code { padding: 1px 5px; }
pre { padding: 8px 12px; margin-bottom: 15px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }


/** Other */
img {
  max-width: 100%;
}

hr {
  margin: 20px 0;
  height: 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEEEEE;
}



.left {
  float: left;
}

.right {
  float: right;
}

.wrap, .container-fluid{
/*   width:1080px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}



/** Navbar */
.nav-main {
  background: $nav-color;
  color: $font-color-o;
  position: fixed;
  top: 0px;
  height: $nav-h;
  box-shadow: $main-shadow;
  width: 100%;
  z-index: 100;
}

.nav-site {
/*   box-sizing:content-box; */
  padding: 15px 8px;
  line-height:20px;
  float: left;
  height: $nav-h;
  font-size: 17px;
  color: $font-color-o;
}

a.nav-site:hover, a.nav-site:focus {
  color: $font-color-o;
  text-decoration: none;
}

.nav-title {
  color: rgba(255, 255, 255, 0.92);
  font-size: 20px;
  margin-left: -8px;
}

.nav-right {
  margin-right: -8px;
}


/** Form */
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 6px 2px;

  line-height: 1.42857;
  font-size: 14px;
  color: $font-color;

  background-color: $bg-color;
  border-bottom: 2px solid #E0E0E0;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
}
textarea.form-control {
  height: auto;
  font-family: $code-fonts;
  font-size: $base-size;
}
.mainput, .mainput:focus {
  background-color: $nav-color;
  color: $font-color;
  border-top: 1px solid $nav-color;
  border-bottom: 1px solid $font-color-o;
  height: 20px;
  padding: 0px;
}
.nav-form {
  margin: 0;
  padding: 15px 0;
  border: 0;
  box-shadow: none;
}


/** Button */
.btn {
  display: inline-block;
  cursor: pointer;

  font-family: inherit;
  font-size: $base-size;
  color: $font-color;

  line-height: 1.42857;
  vertical-align: middle;
  padding: 6px 12px;
  background-color: $bg-color;
/*  !!!  */
/*   border: 1px solid #CCC; */
/*   border-radius: 4px; */
  box-shadow: $main-shadow;
}
.btn:hover, .btn:focus, .btn:active {
  color: $font-color;
  background-color: #E6E6E6;
  box-shadow: $main-shadow;
  text-decoration: none;
}

.insert {
  height: 37px;
  width: 100px;
}

input[type="file"] {
  width: 280px;
}

progress {
  height: 1px;
  width: 380px;
  background-color: $bg-color;
  box-shadow: $main-shadow;
  vertical-align: baseline;
}
progress::-webkit-progress-bar { background: transparent; }


/**   */
.tasks {
  font-family: $code-fonts;
  padding: 6px 12px;
  line-height: 1.42857;
  box-shadow: $main-shadow;
}

.label {
/*   background-color: #E0E0E0; */
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////




table {
    border-collapse: collapse;
    border-spacing: 0px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table-bordered {
    border: 1px solid #DDD;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #DDD;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #DDD;
    vertical-align: top;
    line-height: 1.42857;
    padding: 8px;
}
th {
    text-align: left;
}
td, th {
    padding: 0px;
}



ul.list-group {
  margin-left: 0px;
  box-shadow: $main-shadow;
}
a.list-group-item {
  color: $font-color;
  text-decoration: none;
}
a.list-group-item:hover, a.list-group-item:focus {
  background-color: #E6E6E6;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #FFF;
  border: 1px solid #E6E6E6;
}
