/* http://facebook.github.io/react/css/react.css */
@import "normalize.scss";

$san-fonts: HYQiHei-45S, HYQiHei, 思源黑体, Source Han Sans CN, DejaVu Sans, FZLanTingHei-R-GBK, Microsoft YaHei, sans-serif;
$code-fonts: Source Code Pro, DejaVu Sans Mono, Consolas, HYQiHei-45S, HYQiHei, 思源黑体, Source Han Sans CN, monospace;

$font-color: rgba(0, 0, 0, 0.87);
$font-color-o: rgba(255, 255, 255, 0.87);

$bg-color: #FFFFFF;
$main-color: #00BCD4;

$main-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);


* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

/*html *{
	color-profile:sRGB;
	rendering-intent:auto
}*/

body {
  font-family: $san-fonts;
  font-size: 16px;
  line-height: 1.5;
  color: $font-color;
  background-color: $bg-color;
  padding-top: 65px;
  padding-bottom: 20px;
}

p{
  margin:0 0 10px;
}

/** Headings */
h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  line-height: 20px;
  color: $font-color;
  text-rendering: optimizelegibility;
}

h1,h2,h3 {
  font-family: FZKeBenFangSongS-R-GB;
  line-height:40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: -0.5px;
}


/** Lists */
ul, ol {
  margin: 0 0 10px 25px;
}

ul, li {
  margin-left:20px
}

li > ul, li > ol {
  margin-bottom: 0;
}


/** Links */
a {
  color: #0097A7;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  color: $font-color;
  text-decoration: underline;
}

a:focus {
  outline: none;
}


/** Blockquotes */
blockquote {
  color: #616161;
  font-size: 17px;
  letter-spacing: -0.5px;
  // font-style: italic;

/*   padding: 5px 15px; */
  padding-left: 15px;
  margin: 20px 0;
/*   background-color: #FAFAFA; */
  border-left: 4px solid #E0E0E0;
}
blockquote > :last-child { margin-bottom: 0; }


/** Code formatting */
pre, code {
  font-family: $code-fonts;
  // font-size: 15px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  margin-bottom: 15px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}


/** Other */
img {
  max-width: 100%;
}

hr {
  margin: 20px 0;
  height: 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEEEEE;
}

table {
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border: 1px solid #DDD;
  vertical-align: top;
  line-height: 1.42857;
  padding: 8px;
}
th {
  text-align: left;
}



.left {
  float: left;
}

.right {
  float: right;
}

.wrap {
/*   width:1080px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  .wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/** Navbar */
.nav-main {
  background: $main-color;
  color: $font-color-o;
  position: fixed;
  top: 0px;
  padding-top: 1px;
  height: 44px;
  box-shadow: $main-shadow;
  width: 100%;
  z-index: 100;
}

.nav-site {
/*   box-sizing:content-box; */
  padding: 0px 8px;
  line-height: 44px;
  height: 44px;
  float: left;
  color: $font-color-o;
}

a.nav-site:hover, a.nav-site:focus {
  color: $font-color-o;
  text-decoration: none;
}

.nav-title {
  // font-family: FZKeBenFangSongS-R-GB;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.92);
  margin-left: -8px;
}

.nav-right {
  margin-right: -8px;
}


/** Form */
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 6px 2px;

  line-height: 1.42857;
  // font-size: 14px;

  background-color: $bg-color;
  border-bottom: 2px solid #E0E0E0;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
}
textarea.form-control {
  height: auto;
  font-family: $code-fonts;
  // font-size: 16px;
}
.mainput, .mainput:focus {
  background-color: $main-color;
  font-size: 15px;
  color: $font-color;
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $font-color-o;
  height: 22px;
  padding: 0px;
}
.nav-form {
  width: 200px;
  margin: 0;
  padding: 11px 0;
  border: 0;
  box-shadow: none;
}


/** Button */
.btn {
  display: inline-block;
  cursor: pointer;

  color: $font-color;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
  padding: 0px 10px;
  background-color: $bg-color;
/*  !!!  */
/*   border: 1px solid #CCC; */
/*   border-radius: 4px; */
  box-shadow: $main-shadow;
}
.btn:hover, .btn:focus, .btn:active {
  color: $font-color;
  background-color: #E6E6E6;
  box-shadow: $main-shadow;
  text-decoration: none;
  outline: none;
}

// progress {
//   height: 1px;
//   width: 380px;
//   background-color: $bg-color;
//   box-shadow: $main-shadow;
//   vertical-align: baseline;
// }
// progress::-webkit-progress-bar { background: transparent; }


/**   */
.tasks {
  font-family: $code-fonts;
  padding: 6px 12px;
  line-height: 1.42857;
  box-shadow: $main-shadow;
}


ul.list-group {
  margin-left: 0px;
  margin-top: 15px;
  box-shadow: $main-shadow;
}
a.list-group-item {
  color: $font-color;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.75) none repeat scroll;
}
a.list-group-item:hover, a.list-group-item:focus {
  background-color: rgba(230, 230, 230, 0.75);
}
.list-group-item {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 15px;
  padding: 0px 10px;
  line-height: 36px;
  height: 36px; // chrome zoom 会影响line-height
  background-color: #FFF;
  // border: 1px solid #E6E6E6;
}

.progress-bar {
  background-color: $main-color;
  width: 0%;
  height: 36px;
  margin-top: -36px;
  // margin-bottom: -1px;
  padding: 0px;
  z-index: -1;
}

.attachment {
  width: 390px;
  margin-bottom: 8px;
  box-shadow: $main-shadow;
}

#file-info {
  line-height: 32px;
  height: 32px;
  // padding: 5px 12px;
}
#upload-progress {
  width: 0%;
  height: 32px;
  margin-top: -32px;
}

#success-info {
  position: fixed;
  right: 0px;
  top: 44px;
  padding: 2px 8px;
  color: $font-color-o;
  background-color: $main-color;
}
